*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
}

main, .Card{
  border-radius: 5px;
}

.Card{
  background-image: url('../public/cold-bg.jpg');
  background-size: cover;
  background-position: bottom;
  max-width: 400px;
  max-height: 600px;
  transition: 0.4 ease-out;
}

.app.warm{
  background-image: url(../public/warm-bg.jpg);
}

main{
  width: 320px;
  max-width: 400px;
  box-shadow: 4px 2px 0 2px rgb(0 0 0 / 60%);
  height: 600px;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.75));
  padding: 25px;
}

.searchBox{
  width: 100%;
  margin: 0 auto 75px;
}

.searchBar{
  display: block;
  width: 100%;
  padding: 15px;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  background-color: rgba(255,255,255,0.5);
  border-radius: 0 0 16px 16px;
  margin-top: -25px;
  box-shadow: 0 5px rgba(0,0,0,0.2);
}