*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
}

main, .Card{
  border-radius: 5px;
}

.Card{
  background-size: cover;
  background-position: bottom;
  max-width: 400px;
  max-height: 600px;
  transition: 0.8s ease-out;
}

/* Weather specific Backgrounds Starts Here */
.sandy{
  background-image: url('../public/sandy.jpg');
}

.tornado{
  background-image: url('../public/tornado.jpg'); 
}

.volcanicAsh{
  background-image: url('../public/volcanicAsh.jpg');
}

.coldBase{
  background-image: url('../public/cold-bg.jpg');
}

.rainy{
  background-image: url('../public/rainy.png');
}

.dayCloudy{
  background-image: url('../public/dayCloudy.jpg');
}

.nightCloudy{
  background-image: url('../public/nightCloudy.png');
}

.thunderstorm{
  background-image: url('../public/thunderstorm.jpg');
}

.daySnow{
  background-image: url('../public/daySnow.png');
}

.smoke{
  background-image: url('../public/smoke.jpg');
}

.dayMist{
  background-image: url('../public/dayMist.jpg');
}

.nightMist{
  background-image: url('../public/nightMist.jpg');
}

.nightClear{
  background-image: url('../public/nightClear.jpg');
}

.dayClear{
  background-image: url('../public/dayClear.jpg');
}

.nightSnow{
  background-image: url('../public/nightSnow.jpg');
}

/* Weather specific Backgrounds Ends Here*/

main{
  width: 320px;
  max-width: 400px;
  box-shadow: 4px 2px 0 2px rgb(0 0 0 / 60%);
  height: 600px;
  position: relative;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.12), rgba(0,0,0,0.3));
  padding: 25px;
}

.searchBox{
  width: 100%;
  margin: 0 auto 75px;
  position: relative;
}

.searchBar{
  display: block;
  width: 100%;
  padding: 15px;
  z-index: 999;
  appearance: none;
  background: none;
  border: none;
  position: relative;
  outline: none;
  background-color: rgba(255,255,255,0.5);
  border-radius: 0 0 16px 16px;
  margin-top: -25px;
  box-shadow: 0 5px rgba(0,0,0,0.2);
  color: #313131;
  transition: 0.4s ease;
  font-size: 20px;
}

.searchBar:focus{
  background-color: rgba(255,255,255,0.75);
}

.location{
  color: white;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(50,50,70,0.5);
}

.date{
  color: white;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px rgba(50,50,70,0.5);
}

.weatherBox{
  text-align: center;
}

.temp{
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255,255,255,0.2);
  border-radius: 16px;
  padding: 15px 25px;
  color: white;
  font-size: 102px;
  font-weight: 900;
  text-shadow: 3px 6px rgba(50,50,70,0.5);
  width: -webkit-fill-content;
  display: flex;
  justify-content: center;
  box-shadow: 3px 6px rgba(0,0,0,0.2);
}

.weather{
  color: white;
  font-size: 48px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50,50,70,0.5);
}

.baseText{
  color: white;
  text-align: center;
  text-shadow: 3px 3px rgba(50,50,70,0.5);
}

.baseBox{
  height: -webkit-fill-available;
  color: white;
  display: flex;
  left: 0;
  top: 0;
  text-align: center;
  position: absolute;
  justify-content: center;
  align-items: center;
}